//form to add comment
<div class="mb-3">
    <label for="comments" class="form-label">Comment:</label>
    <input type="text" class="form-control" id="commentInput" placeholder="comment here...">
</div>
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Post comment</button>
</div>

{{#each comments}}
    <div>
        <p class="fs-5">{{this.comment}}</p>
        <p class="fs-6">Commented by {{this.user.email}} on {{this.comment.dateCreated}}</p>
    </div>
{{/each}}