<h2>POST</h2>

<div class="mb-3">
    <label for="posts" class="form-label">Blog Post:</label>
    <input type="text" class="form-control" id="postInput" placeholder="content">
</div>
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Post blog</button>
</div>

// for each - to render a new article section for each post

{{#each posts}}
<div>
    <h2>{{this.title}}</h2>
    <p>{{this.post}}</p>
    <p>Posted by {{this.email}} on {{this.dateCreated}}</p>
</div>
{{/each}}


